.vscode
node_modules
public
src
.gitignore
.npmignore
index.html

jsconfig.json
tsconfig.json
tsconfig.node.json
vite.config.ts
yarn.lock
package-lock.json
babel.config.js
vue.config.js
package copy.json
package.dev.json

docs
favicon.ico
lib/favicon.ico
lib/demo.html